@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: #F1F3F3;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    position: relative;
    margin: 1rem 2rem 1rem;
    max-width: 100%;
    height: auto;
}

.navbar > img {
    horiz-align: left;
    max-height: 1.75rem;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 1.25rem;
}

.title {
    max-width: 100%;
}

h1 {
    display: block;
    font-size: 24vw;
    color: #6E0A0A;
    font-weight: 900;
    line-height: 27.5vw;
    font-family: Roboto, sans-serif;
    font-style: normal;
    margin: 0;
}

h1 > span {
    font-size: 35vw;
}

.subtitle {
    color: #1E1E1E;
    font-size: 9vw;
    line-height: 13vw;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.mobile-view {
    display: inline-flex;
    margin: 1rem 0;
    max-width: 100%;
}

.tablet-view, .desktop-view1, .desktop-view2 {
    display: none;
}

@media screen and (max-width: 768px) {
    body {
        overflow: hidden;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        margin-bottom: 3rem;
    }

    .mobile-view {
        display: none;
    }

    .tablet-view {
        display: inline;
    }

    .container {
        flex-direction: row;
        margin: 0 3.5rem;
        gap: 4rem;
        justify-content: space-around;
    }

    h1 {
        font-size: 5rem;
        line-height: 7.25rem;
    }

    h1 > span {
        font-size: 8.25rem;
    }

    .subtitle {
        font-size: 1.5rem;
        line-height: 2.25rem
    }

    .title {
        max-width: 40%;
    }

    .navbar > img {
        horiz-align: left;
        max-height: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 6.75rem;
        line-height: 9rem;
    }

    h1 > span {
        font-size: 11.25rem;
    }

    .navbar {
        margin-bottom: 4rem;
    }

    .mobile-view, .tablet-view {
        display: none;
    }

    .desktop-view1 {
        display: inline;
    }
}

@media screen and (min-width: 1366px) {
    .container {
        margin: 0 8rem;
        justify-content: space-evenly;
    }

    h1 {
        font-size: 8rem;
        line-height: 10.5rem;
    }

    h1 > span {
        font-size: 11.75rem;
    }

    .subtitle {
        font-size: 2.5rem;
        line-height: 3.25rem
    }

    .navbar {
        margin-bottom: 5rem;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        margin: 0 8rem;
        justify-content: space-evenly;
    }

    h1 {
        font-size: 10rem;
        line-height: 14rem;
    }

    h1 > span {
        font-size: 15rem;
    }

    .subtitle {
        font-size: 2.75rem;
        line-height: 4rem
    }

    .mobile-view, .tablet-view, .desktop-view1 {
        display: none;
    }

    .desktop-view2 {
        display: inline;
    }
}